### Python (Build & Distribution)
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Byte-compiled soubory a cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# vsc
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### --- Virtuální prostředí ---
.venv/
venv/
ENV/
env/